html{
    height: 100%;
}
body {
    margin: 0;
    height: 100%;
    font-family: 'El Messiri', sans-serif;

    font-size: 15px;
    line-height: 1.6;
    color: #333;
}

*,
*:before,
*:after{
    box-sizing: border-box;
}

h1,h2,h3{
    margin: 0;
}
.container{
    width: 100%;
    max-width: 1330px;
    padding: 0 15px;
    margin: 0 auto;
}

.container.disable{
    display: none;
}

/* header */
.header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: rgb(28, 28, 28);
}

.header_fixed{
    background-color: rgb(28,28,28);
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

header.active{
    background-color: rgb(28,28,28);
}

.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo{
    font-size: 34px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
}

/* Section */


.section {
    padding-top: 0px;
}

.section_stock {
    padding-top: 70px;
    background-color: #fefefe;
}

.section_product{
    padding-top: 30px;
}

.section_tovar{
    padding-top: 30px;
}

/* Product */

.product{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 5%
}

.product.active .product_link{   
    transform: scale(1.1, 1.1);
    
    transition: transform 0.5s linear;
}

.product_container{
    width: 20%;
    height: 120px;
    padding-left: 7%;
}

.product_link{
    display: inline-block;
    vertical-align: top;


    color:#1c1c1c;
    text-decoration: none;

    transition: color 0.2s linear;
}

.product_item{
    width: 80px;
    height: 80px;
}

.product_text{
    color: #000000;
    text-decoration: none;
    margin-top: 5px;
    text-align: center;
    display: block;
}

.product_link:hover .product_item{
    transform: scale(1.25, 1.25);
    transition: transform 0.2s linear;
}


.product_link:hover .product_text{
    cursor: pointer;
    color: #6495ED;
}

.product_link.active .product_item{
    transform: scale(1.25, 1.25);
}

.product_link.active{
    color:#6495ED
}


/* info */

.info{
    width: 100%;
    position: relative;
    bottom: 0;
    margin-top: 30px;

}

.info_container{
    width: auto;
    height: 100%;
    margin: 20px 5%;
    background-color: #f4f4f4;
}

.info_col{
    padding: 20px 10%;
    width: 100%;
}


.info_logo{
    text-align: center;
    margin-bottom: 30;
    font-size: 42px;
    color: #1c1c1c;
}
.info_text{
    font-size: 17px;
    color: #1c1c1c;
}


.info_mini{
    font-size: 13px;
    color:rgb(105, 105, 105)
}

.info_one{
    width: 312px;
    height: 615px;
    margin-left: 120px;
}

.info_two{
    width: 312px;
    height: 615px;
    float: right;
    margin-right: 120px;
}