html{
    height: 100%;
}
body {
    margin: 0;
    height: 100%;
    font-family: 'El Messiri', sans-serif;

    font-size: 15px;
    line-height: 1.6;
    color: #333;
}

*,
*:before,
*:after{
    box-sizing: border-box;
}

h1,h2,h3{
    margin: 0;
}
.container{
    width: 100%;
    max-width: 1330px;
    padding: 0 15px;
    margin: 0 auto;
}

/* header */

.header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: rgb(28, 28, 28);
}

.header_fixed{
    background-color: rgb(28,28,28);
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo{
    font-size: 37px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
}

/* Navigation */

.nav{
    font-size: 16px;
    text-transform: uppercase;
}

.nav_link{
    display: inline-block;
    vertical-align: top;
    margin-left: 30px;

    color:#fff;
    text-decoration: none;
    
    transition: color 0.2s linear;
}

.nav_link:after{
    content: "";
    display: block;
    width: 100%;
}

.nav_link:hover{
    color: #6495ED;
}

/* nav toggle */

.nav_toggle{
    display: none;
    width: 30px;
    padding: 10px 0;
    position: absolute;
    top: 20px;
    right: 30px;
    z-index: 1;

    font-size: 0;
    color: transparent;

    background: none;
    border: 0;
    cursor: pointer;
}


.nav_toggle_item{
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;

    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    
    transition: background-color .2s linear;
}

.nav_toggle_item:before,
.nav_toggle_item:after{
    content: "";
    width: 100%;
    height: 3px;

    background-color: #fff;

    position: absolute;
    left: 0;
    z-index: 1;

    transition: transform .2s linear;
}

.nav_toggle_item:before{
    top: -8px;
}

.nav_toggle_item:after{
    bottom: -8px;
}

.nav_toggle.active .nav_toggle_item{
    background-color: rgb(28, 28, 28);
}

.nav_toggle.active .nav_toggle_item:before{
    transform-origin: left top;
    transform: rotate(45deg) translate3d(0px, -3px, 0)
}

.nav_toggle.active .nav_toggle_item:after{
    transform-origin: left bottom;
    transform: rotate(-45deg) translate3d(0px, 3px, 0);
}

/* Section */


.section {
    padding-top: 80px;
}


.section_tovar {
    padding-top: 0px;
}

.section_product{
    padding-top: 70px;
    padding-bottom: 10px;
}


/* Product */


.product{
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;

    width: 100%;
}
.product.active .product_link{   
    transform: scale(1.1, 1.1);
    
    transition: transform 0.5s linear;
}

.product_container{
    width: 20%;
    height: 120px;
    padding-left: 7%;
}

.product_link{
    display: inline-block;
    vertical-align: top;


    color:rgb(28, 28, 28);
    text-decoration: none;

    transition: color 0.2s linear;
}

.product_item{
    width: 80px;
    height: 80px;
}

.product_text{
    margin-top: 5px;
    text-align: center;
    display: block;
}

.product_link:hover .product_item{
    transform: scale(1.25, 1.25);
    transition: transform 0.2s linear;
}


.product_link:hover{
    color: #6495ED;
}

.product_link:after{
    content: "";
    display: block;
    width: 100%;
}


/* Tovar */

.t_inner{
    display: inline-flex;
    flex-flow: row wrap;
}

.t_container_img{
    display: flex;
    justify-content: center;
}

.t_img{
    width: 238px;
    height: 216px;
    margin: 0;
    object-fit: cover;
}

.t_tovar{
    display: inline;
    width: 20%;
}

.t_tovar p{
    text-align: center;
    padding: 0 10px;
    margin-top: 0;
    width: 100%;
    height: 30px;
    word-break:break-all;
}

.t_price{
    margin: 0;
    text-align: center
}

.t_button{
    display: flex;
    justify-content: center;
}

.t_button button{
    background-color: #7FC7FF;
    width: 94%;
    height: 33px;
    color: #333;
    border-width: 0px;
    border-radius: 20px;
    transition: background-color 0.2s linear;

    cursor: pointer;
}

.t_button button:hover{
    background-color: #6495ED;
}


/* Footer */

.footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    padding-top: 10px;
    margin-top: 30px;
    background-color: #333;
}

.footer_inner{
    display: flex;
    justify-content: space-between;
}

.footer_col{
    padding: 0 7px;
    width: 60%;
    transition: box-shadow 0.5s linear;
}

.footer_col.active{
    box-shadow: 1px 1px 6px #9C9C9C;
}

.footer_logo{
    margin-bottom: 30;
    font-size: 46px;
    color: #ccc;
}
.footer_text{
    font-size: 17px;
    color: #ccc;
}

.footer_con{
    padding-left: 10%;
    width: 40%;
    display: block;
    transition: box-shadow 0.5s linear;
}

.footer_con.active{
    box-shadow: 1px 1px 6px #9C9C9C;
}

.footer_con p{
    margin: 0;
    padding-top: 3%;
}

.footer_htext{
    font-size: 35px;
    color: #ccc;
}

.footer_social{
    font-size: 20px;
    color: #ccc;
    font-style: italic;
    font-weight: 300;
    display: block;
}

.footer_social h1{
    font-size: 20px;
    color: #ccc;
    font-style: italic;
    font-weight: 300;
}

.footer_social i{
    font-size: 20px;
    vertical-align: middle;
    color: #0da8e1  
}

.footer_managers{
    display: block;
}

.footer_manager{
    font-size: 17px;
    display: inline-block;
    vertical-align: top;
    margin-left: 0px;
}

.footer_manager span{
    font-size: 17px;
    color: #ccc;
    transition: color 0.2s linear;
}

.footer_manager i{
    font-size: 20px;
    margin-left: 0px;
    margin-right: 2px;
    color: #0da8e1;
}

.footer_inner a{
    text-decoration: none;
    margin-right: 15px;
}

.footer_manager span:hover{
    color: #0da8e1;
}

@media (max-width: 1330px){
    
}

@media (max-width: 990px){
    /* product */

    /* tovar */
    .t_tovar{
        width: 25%;
    }

    .t_tovar p{
        height: 52px;
    }

    /* footer */
    .footer_con{
        padding-left: 7%;
    }
}

@media (max-width: 770px){
    /* nav */

    .nav{
        display: none;
        width: 100%;
        
        position: absolute;
        top: 100%;
        left: 0;

        background-color: rgb(28,28,28);
    }

    .nav_link{
        display: block;
        margin: 0;
        padding: 8px 20px;
    }

    .nav.active{
        display: block;
    }

    /* nav toggle*/
    
    .nav_toggle{
        display: inline;
    }

    /* reviews */

    
    .section_banner{
        padding-top: 58px;
    }

    .section_banner .container{
        padding: 0;
    }

    /* product */

    .section_product{
        padding-top: 0;
    }

    .product{
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 45px;
    }

    .product_link{
        justify-content: center;
        flex-wrap: wrap;
    }

    .product_container{
        margin-top: 30px;
        flex: none;
        padding-left: 11%;
        width: 33.333333%;
    }
    
    /* tovar */

    .t_tovar{
        width: 33.333333%;
    }

    /* footer */
    .footer{
        position: relative;
    }
    .footer_inner{
        display: block;
        text-align: center;
    }

    .footer_col{
        width: 100%;
    }

    .footer_con{
        padding: 0;
        padding-top: 10px;
        width: 100%;
    }

    .footer_htext{
        text-align: center;
    }
    
    .footer_logo{
        text-align: center;
    }

    .footer_social{
        display: flex;
        justify-content: space-around;
    }

    .footer_managers{
        display: block;
    }

    .footer_managers div{
        display: block;
    }
    
}

@media (max-width: 575px){

    /* header */
    .header_logo{
        font-size: 31px;
    }

    /* nav_toggle */

    .nav_toggle{
        top: 14px
    }

    /* reviews */

    .section_banner{
        padding-top: 49px;
    }

    /* product */

    .product_container{
        padding-left: 7%;
    }

    /* tovar */

    .t_tovar{
        width: 50%;
    }

    /* footer */

    .footer_htext{
        font-size: 31px;
    }

    .footer_logo{
        font-size: 31px;
    }

    .footer_text{
        font-size: 15px;
    }

}

@media(max-width: 545px){
    .t_inner{
        justify-content: center;
    }
}

@media (max-width: 440px){
    /* tovar */

    .t_tovar{
        width: 100%;
    }

    .t_tovar p {
        height: 30px;
    }

    .t_button button{
        width: 80%;
        height: 40px;
    }

}

@media (max-width: 370px){
    .product_container{
        padding-left: 5%;
    }

    .footer_groups{
        margin-right: 5px
    }
}

@media(max-width: 353){
    .footer_groups{
        margin-right: 0
    }
}

@media (max-height: 940px){
    .footer{
        position: relative;
    }
}